@import "tailwindcss";

:root {
  --transition-duration: 75ms;

  --color-foreground: #000;
  --color-background: #fff;
  --color-brand: #eb262a;
  --color-white: #fff;
  --color-lime: #edffcd;

  --color-emphasis: #1e1e1e;
  --color-muted: #333333;
  --color-subtle: #6a6767;
  --color-faint: #b4b4b4;
  --color-shim: #efefef;
  --color-panel: #f9f9f9;
  --color-outline: #e7e7e7;

  --gradient-dark: linear-gradient(
    89.4deg,
    var(--color-emphasis) 0.37%,
    #272727 99.67%
  );

  --gradient-white-horizontal: linear-gradient(
    90deg,
    var(--color-white) 0%,
    transparent 50%
  );

  --gradient-white-vertical: linear-gradient(
    180deg,
    var(--color-white) 5%,
    transparent 25%,
    transparent 75%,
    var(--color-white) 100%
  );

  --shadow-power: 0px 0px 25px 1px rgba(0, 0, 0, 0.3);
  --gradient-power: linear-gradient(
    129.5deg,
    rgba(57, 57, 57, 0.87) 30.54%,
    rgba(47, 42, 42, 0.87) 69.52%
  );

  --gutter: 1.25rem;
  --nav-height: 5rem;
  --announcement-height: 3rem;
  --button-height: 40px;
  --footer-height: 18rem;
  --input-height: 40px;
}

.dark-theme {
  --color-foreground: #fff;
  --color-background: #000;
  --color-panel: #292929;
  --color-outline: #2e2e2e;
  --color-foreground: #ffffff;
  --color-muted: #b4b4b4;
  --color-subtle: #736e6e;
}

@media (min-width: theme(screens.md)) {
  :root {
    --gutter: 2rem;
  }
}

@theme inline {
  --font-display: var(--font-display);
  --font-interface: var(--font-interface);

  --spacing-nav-height: var(--nav-height);
  --spacing-announcement-height: var(--announcement-height);
  --spacing-button-height: var(--button-height);
  --spacing-gutter: var(--gutter);
  --spacing-footer-height: var(--footer-height);
  --spacing-input-height: var(--input-height);

  --color-foreground: var(--color-foreground);
  --color-background: var(--color-background);
  --color-brand: var(--color-brand);
  --color-lime: var(--color-lime);
  --color-white: var(--color-white);

  --color-emphasis: var(--color-emphasis);
  --color-muted: var(--color-muted);
  --color-subtle: var(--color-subtle);
  --color-faint: var(--color-faint);
  --color-panel: var(--color-panel);
  --color-shim: var(--color-shim);
  --color-outline: var(--color-outline);

  --shadow-power: var(--shadow-power);
}

body {
  font-family: var(--font-interface);
  font-size: 0.9375rem;
  line-height: 1.125rem;
}

ul {
  list-style: disc;
  list-style-position: inside;
}

li {
  margin-bottom: 0.25rem;
}

.gradient-dark {
  background: var(--gradient-dark);
}

.gradient-white-horizontal {
  background: var(--gradient-white-horizontal);
}

.gradient-white-vertical {
  background: var(--gradient-white-vertical);
}

.gradient-power {
  background: var(--gradient-power);
}

.root-layout {
  display: grid;
  grid-template-columns:
    [left-gutter] minmax(var(--gutter), 1fr)
    [main-start] repeat(12, minmax(0, 100px))
    [main-end right-gutter] minmax(var(--gutter), 1fr);
}

.editorial {
  h2 {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  h3 {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
  p {
    margin-bottom: 1rem;
  }
  ul {
    margin-bottom: 1rem;
  }
}

.editorial > *:first-child {
  margin-top: 0rem;
}

.editorial h3,
.display-24,
.display-24-bold {
  font-family: var(--font-display);
  font-size: 1.5rem;
  line-height: 1.8125rem;
}

.editorial h3,
.display-24 {
  font-weight: 500;
}

.display-24-bold {
  font-weight: 700;
}

.editorial h2,
.display-32,
.display-32-bold {
  font-family: var(--font-display);
  font-size: 2rem;
  line-height: 2rem;
}

.editorial h2,
.display-32 {
  font-weight: 300;
}

.display-32-bold {
  font-weight: 700;
}

.editorial p,
.display-18,
.display-18-bold {
  font-family: var(--font-display);
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.interface-12,
.interface-12-bold {
  font-family: var(--font-interface);
  font-size: 0.75rem;
  line-height: 1rem;
}

.interface-12 {
  font-weight: 500;
}

.interface-12-bold {
  font-weight: 700;
}

.interface-14,
.interface-14-bold {
  font-family: var(--font-interface);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.interface-14 {
  font-weight: 300;
}

.interface-14-bold {
  font-weight: 700;
}

.interface-16,
.interface-16-bold {
  font-family: var(--font-interface);
  font-size: 1rem;
  line-height: 1.25rem;
}

.interface-16 {
  font-weight: 400;
}

.interface-16-bold {
  font-weight: 600;
}

.interface-18,
.interface-18-bold {
  font-family: var(--font-interface);
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.interface-18 {
  font-weight: 400;
}

.interface-18-bold {
  font-weight: 700;
}

.interface-20,
.interface-20-bold {
  font-family: var(--font-interface);
  font-size: 1.25rem;
  line-height: 1.5rem;
}

.interface-20 {
  font-weight: 300;
}

.interface-20-bold {
  font-weight: 700;
}

.interface-24,
.interface-24-bold {
  font-family: var(--font-interface);
  font-size: 1.5rem;
  line-height: 1.8125rem;
}

.interface-24 {
  font-weight: 400;
}

.interface-24-bold {
  font-weight: 700;
}

.NavigationMenuRoot {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  z-index: 1;
}

.NavigationMenuList {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 4px;
  border-radius: 6px;
  list-style: none;
  box-shadow: 0 2px 10px var(--black-a7);
  margin: 0;
}

.NavigationMenuTrigger,
.NavigationMenuLink {
  padding: 8px 12px;
  outline: none;
  user-select: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 4px;
  font-size: 15px;
  color: var(--violet-11);
}
.NavigationMenuTrigger:focus,
.NavigationMenuLink:focus {
  box-shadow: 0 0 0 2px var(--violet-7);
}
.NavigationMenuTrigger:hover,
.NavigationMenuLink:hover {
  background-color: var(--violet-3);
}

.NavigationMenuTrigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2px;
}

.NavigationMenuLink {
  display: block;
  text-decoration: none;
  font-size: 15px;
  line-height: 1;
}

.NavigationMenuContent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation-duration: 250ms;
  animation-timing-function: ease;
}
.NavigationMenuContent[data-motion="from-start"] {
  animation-name: enterFromLeft;
}
.NavigationMenuContent[data-motion="from-end"] {
  animation-name: enterFromRight;
}
.NavigationMenuContent[data-motion="to-start"] {
  animation-name: exitToLeft;
}
.NavigationMenuContent[data-motion="to-end"] {
  animation-name: exitToRight;
}
@media only screen and (min-width: 600px) {
  .NavigationMenuContent {
    width: auto;
  }
}

.NavigationMenuIndicator {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 10px;
  top: 100%;
  overflow: hidden;
  z-index: 1;
  transition: width, transform 250ms ease;
}
.NavigationMenuIndicator[data-state="visible"] {
  animation: fadeIn 200ms ease;
}
.NavigationMenuIndicator[data-state="hidden"] {
  animation: fadeOut 200ms ease;
}

.NavigationMenuViewport {
  position: relative;
  transform-origin: top center;
  margin-top: 10px;
  width: 100%;
  background-color: white;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  height: var(--radix-navigation-menu-viewport-height);
  transition: width, height, 300ms ease;
}
.NavigationMenuViewport[data-state="open"] {
  animation: scaleIn 200ms ease;
}
.NavigationMenuViewport[data-state="closed"] {
  animation: scaleOut 200ms ease;
}
@media only screen and (min-width: 600px) {
  .NavigationMenuViewport {
    width: var(--radix-navigation-menu-viewport-width);
  }
}

.List {
  display: grid;
  padding: 22px;
  margin: 0;
  column-gap: 10px;
  list-style: none;
}
@media only screen and (min-width: 600px) {
  .List.one {
    width: 500px;
    grid-template-columns: 0.75fr 1fr;
  }
  .List.two {
    width: 600px;
    grid-auto-flow: column;
    grid-template-rows: repeat(3, 1fr);
  }
}

.ListItemLink {
  display: block;
  outline: none;
  text-decoration: none;
  user-select: none;
  padding: 12px;
  border-radius: 6px;
  font-size: 15px;
  line-height: 1;
}
.ListItemLink:focus {
  box-shadow: 0 0 0 2px var(--violet-7);
}
.ListItemLink:hover {
  background-color: var(--mauve-3);
}

.ListItemHeading {
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 5px;
  color: var(--violet-12);
}

.ListItemText {
  color: var(--mauve-11);
  line-height: 1.4;
  font-weight: initial;
}

.Callout {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, var(--purple-9) 0%, var(--indigo-9) 100%);
  border-radius: 6px;
  padding: 25px;
  text-decoration: none;
  outline: none;
  user-select: none;
}
.Callout:focus {
  box-shadow: 0 0 0 2px var(--violet-7);
}

.CalloutHeading {
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 16px;
  margin-bottom: 7px;
}

.CalloutText {
  color: var(--mauve-4);
  font-size: 14px;
  line-height: 1.3;
}

.ViewportPosition {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  top: 100%;
  left: 0;
  perspective: 2000px;
}

.CaretDown {
  position: relative;
  color: var(--violet-10);
  top: 1px;
  transition: transform 250ms ease;
}
[data-state="open"] > .CaretDown {
  transform: rotate(-180deg);
}

.Arrow {
  position: relative;
  top: 70%;
  background-color: white;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
  border-top-left-radius: 2px;
}

@keyframes enterFromRight {
  from {
    opacity: 0;
    transform: translateX(200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes enterFromLeft {
  from {
    opacity: 0;
    transform: translateX(-200px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exitToRight {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(200px);
  }
}

@keyframes exitToLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-200px);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: rotateX(-30deg) scale(0.9);
  }
  to {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
}

@keyframes scaleOut {
  from {
    opacity: 1;
    transform: rotateX(0deg) scale(1);
  }
  to {
    opacity: 0;
    transform: rotateX(-10deg) scale(0.95);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
